<% if session[:movies] %>
  <% session[:movies].each do |movie| %>
    <% if movie.is_a? Hash %>
      <div>
        <strong><a href="<%= movie[:url] %>"><%= movie[:title] %> (<%= movie[:year] %>)</a></strong>
        <p><%= movie[:critics_rating] %> <%= movie[:critics_score] %>%</p>
        <p><%= movie[:consensus] %></p>
        <p></p>
      </div>
    <% end %>
  <% end %>
<% end %>
